* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none
}

html {
    font-size: 16px;
    line-height: 16px;
}

main {
    background-image: url(../img/14840.svg);

    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: #E8E8EA;

    margin: 0;
    padding: 0;
}

/*styles for menu icon*/
.menu-icon {
    opacity: 0.6;
    display: none;
    font-size: 0;
    background: none;
    border: none;
    width: 30px;
    height: 25px;
    position: fixed;
    top: 34px;
    right: 8%;
    cursor: pointer;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
    border-top: 3px solid #01B460;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.menu-icon:before,
.menu-icon:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
}

.menu-icon:before {
    top: 7px;
}

.menu-icon:after {
    top: 17px;
}

.menu-icon.opened {
    border-top-color: transparent;
}

.menu-icon.opened:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px;
}

.menu-icon.opened:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
}

/*styles for menu container*/
.menu-container {
    position: fixed;
    top: 65px;
    right: 8%;
    z-index: 5;
    background: rgb(251, 187, 31);
    padding-top: 20px;
    width: 90%;
    font-size: 1.3em;
    font-weight: bold;
    
}


.menu-container ul {
  margin-top: 60px;
}

.menu-container a {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    color: #423C4A;

   }
.menu-container img{
    padding-right: 50px;
}
.menu-container.closed {
    display: none;
}

.menu-container.opened {
    display: block;
}


/*.header__mobburger {
    display: none;
    position: fixed;
    top: 34px;
    right: 8%;
    cursor: pointer;

    
    width: 31px;
    height: 33px;
    background: url(../img/menu.png) no-repeat;
    opacity: 0.6;
}

.header__mobburger div {
    position: relative;
    width: 45px;
    height: 35px;
}

.header__mobburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #01B460;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.header__mobburger span:nth-child(1) {
    top: 0px;
}

.header__mobburger span:nth-child(2),
.header__mobburger span:nth-child(3) {
    top: 13px;
}

.header__mobburger span:nth-child(4) {
    top: 26px;
}
*/
.header__mobarrow {
    display: none;
    position: absolute;
    width: 67px;
    height: 67px;
    left: 15px;
    bottom: 35px;
    background: url(../img/arrowDown.png);
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    background: url(../img/header.svg);
    width: 100%;
    min-height: 702.98px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header__logo {
    width: 90px;
    height: 80.83px;
    margin-top: 190px;
    background: url(../img/WhiteBgColored-removebg-preview.png);
}

header h1 {

    padding-left: 15px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    /*font-size: 72px;*/
    font-size: 4.5em;
    /*line-height: 60px;*/
    line-height: 1.25em;
    /* identical to box height, or 83% */

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.header__ul {
    padding-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.25em;
    /* 24px ,or 150% */
    color: #423C4A;
    margin-bottom: 60px;
}

.header__ul li {
    border-left: 10px solid #01B460;
    padding-left: 10px;
    margin-bottom: 10px;
}

.header__nav {
    background-color: rgba(251, 251, 251, 0.2);
    margin-bottom: 20px;
}

.header__nav-menu {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.header__nav-menu a {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 1.3em;
    color: #423C4A;
    padding: 10px;
}

.header__nav-menu a:hover {
    background-color: rgba(251, 187, 31, 0.6);
    border-radius: 40px;
}

h2 {
    margin: 77px 10px 26px;
    text-align: center;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.5em;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.h2-hr {
    margin-bottom: 3.125em;
    width: 220px;
    border: 1px solid #FBBB1F;

}

.our-services__avk {
    display: flex;
    justify-content: center;
    align-items: center;
}

#our-services li {
    list-style-type: square;
}


.our-services__avk__img {
    width: 423px;
    height: 423px;
    background: url(../img/index_340.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 0px 40px;


}

.our-services__avk__about-avk {
    width: 423px;
    min-height: 423px;
    padding: 10px 40px;
    background: #423C4A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
    text-indent: 25px;
    color: #FBFBFB;
    text-align: justify;
}

.our-services__study {
    display: flex;
    justify-content: center;
    align-items: center;

}



.our-services__study__about-courses {
    width: 423px;
    min-height: 423px;
    margin: 0;
    padding: 10px 40px;
    background: #423C4A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 0px 40px;
    padding: 10px 40px;

    text-indent: 25px;
    color: #FBFBFB;
    text-align: justify;
    vertical-align: center;
    align-items: center;
}

.our-services__study__courses {
    width: 423px;
    height: 423px;
    background: url(../img/blur-close-up-focus-5742851.jpg) no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
}



.price__order {

    display: flex;
    align-items: center;
    justify-content: center;

}

.price__order-avk {
    width: 423px;
    min-height: 423px;
    padding: 20px 40px;
    background: #FBFBFB;
    color: #423C4A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 0px 40px;
    text-align: center;

}

h3 {
    text-align: center;
    margin: 57px auto;
    white-space: nowrap;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;

    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

#price span {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.price__order-courses {

    width: 423px;
    min-height: 423px;
    padding: 20px 40px;
    background: #423C4A;
    color: #FBFBFB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
    text-align: center;
}

.btn {
    margin: 57px auto;
    width: 243px;
    height: 54px;
    background: #01B460;
    border-radius: 40px;
    font-weight: 700;
    font-size: 1.125em;
    letter-spacing: 0.3em;
    padding: 0 20px;
    color: #FBFBFB;
    text-align: center;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    opacity: 0.8;
}

/*.modal (background)*/
.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/*.modal-content*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    align-content: center;
    width: 60%;
    margin: 5% auto 5% auto;
    padding: 30px 10px;
    background-color: #fefefe;
    color: #423C4A;

    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: normal;
}

.textcontainer {
    text-align: center;
    position: relative;

}

.close-btn {
    position: absolute;
    right: 5%;
    top: 1%;
    font-size: 3em;
    font-weight: 900;
}

.close-btn:hover,
.close-btn:focus {
    color: #FBBB1F;
    cursor: pointer;
}

.order-avk-form,
.order-courses-form {
    margin: 0 auto;
    width: 80%;
    text-align: left;

}


.price__order input[type=text] {
    align-self: stretch;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.popup .p-small {
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
}

.popup h3 {
    margin: 30px 0;
}

#contacts {}

#map {
    width: 100%;
    height: 350px;
    margin-top: 50px;

}

.h3-hr {
    width: 220px;
    border: 1px solid #FBBB1F;

}

.adress {
    width: 283px;
    height: 192px;
    padding: 0 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 251, 0.7);
    border-radius: 40px;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.25em;
    color: #423C4A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.adresses {
    position: relative;
    width: 100%;
}

.adress_office {
    position: absolute;
    left: 50px;
    bottom: 79px;
}

.adress_study {
    position: absolute;
    right: 50px;
    bottom: 79px;
}

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 116px;
    background-color: #423C4A;
    color: #FBFBFB;
}

.footer__mobarrow {
    display: none;
    width: 67px;
    height: 67px;
    margin-top: 90px;
    background: url(../img/arrowUp.png);
}

footer a {
    color: #FBFBFB;
}

.footer__logo {
    width: 90px;
    height: 80.83px;
    margin-bottom: 70px;
    margin-left: -15px;
    background: url(../img/WhiteBgColored-removebg-preview.png);
}