* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none
}


main {
    background-image: url(img/14840.png);
    margin-top: -10px;
    min-width: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: #E8E8EA;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.header__menu__img {
    display: none;
    position: fixed;
    top: 34px;
    right: 8%;
    width: 31px;
    height: 33px;
    background: url(img/menu.png) no-repeat;
    opacity: 0.6;
}

.header__menu__arrow {
    display: none;
    position: absolute;
    width: 67px;
    height: 67px;
    left: 25px;
    bottom: 35px;
    background: url(img/arrowDown.png);
}

.header {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(img/architect-569361_1280.png);
    width: 100%;
    min-height: 702.98px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header__logo {
    width: 90px;
    height: 80.83px;
    background: url(img/WhiteBgColored-removebg-preview.png);
}

header h1 {
    padding-left: 15px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 60px;
    /* identical to box height, or 83% */

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.header__p {
    padding-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    color: #423C4A;

}

.header__p li {
    border-left: 10px solid #01B460;
    padding-left: 10px;
    margin-bottom: 10px;
}

.header__nav {

    background-color: rgba(251, 251, 251, 0.2);

}

.header__nav__menu {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header__nav__menu a {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #423C4A;
    padding: 10px;


}

.header__nav__menu a:hover {
    background-color: rgba(251, 187, 31, 0.6);
    border-radius: 40px;


}

h2 {
    margin-top: 78px;
    margin-bottom: 27px;
    text-align: center;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.h2__hr {
    margin-bottom: 50px;
    width: 220px;
    border: 1px solid #FBBB1F;

}

.our-services__avk {
    display: flex;
    justify-content: center;
    align-items: center;

}

#our-services li {
    list-style-type: square;
}


.our-services__avk__img {
    width: 43%;
    min-height: 400px;
    background: url(img/index_340.jpg) no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 0px 40px;


}

.our-services__avk__about-avk {
    width: 43%;
    min-height: 400px;
    padding: 10px 40px;
    background: #423C4A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
    font-size: 14px;
    line-height: 16px;
    text-indent: 25px;
    color: #FBFBFB;
    text-align: justify;
    align-items: center;
    vertical-align: middle;
}

.our-services__study {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.our-services__study__about-courses {
    width: 43%;
    min-height: 400px;
    margin: 0;
    padding: 10px 40px;
    background: #423C4A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 0px 40px;
    padding: 10px 40px;
    font-size: 14px;
    line-height: 16px;
    text-indent: 25px;
    color: #FBFBFB;
    text-align: justify;
    vertical-align: center;
    align-items: center;
}

.our-services__study__courses {
    width: 43%;
    min-height: 400px;
    background: url(img/blur-close-up-focus-5742851.jpg) no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
}



.price__order {

    display: flex;
    align-items: center;
    justify-content: center;

}

.price__order-avk {
    width: 43%;
    min-height: 400px;
    padding: 20px 40px;
    background: #FBFBFB;
    color: #423C4A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 0px 40px;
    text-align: center;

}

h3 {
    text-align: center;
    margin: 57px auto;
    white-space: nowrap;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 16px;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

#price span {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #01B460;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.price__order-courses {

    width: 43%;
    min-height: 400px;
    padding: 20px 40px;
    background: #423C4A;
    color: #FBFBFB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
    text-align: center;
}

.btn {
    margin: 57px auto;
    width: 243px;
    height: 54px;
    background: #01B460;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.4em;
    color: #FBFBFB;
    padding: 17px 50px;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    opacity: 0.8;
}

/*.modal (background)*/
.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/*.modal-content*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 60%;
    margin: 5% auto 15% auto;
    background-color: #fefefe;
    color: #423C4A;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: normal;
}

.textcontainer {
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 48px;
    font-weight: 900;
}

.close-btn:hover,
.close-btn:focus {
    color: #FBBB1F;
    cursor: pointer;
}

.order-avk-form,
.order-courses-form {
    margin: 5% auto 5% auto;
    width: 80%;
    text-align: left;

}


.price__order input[type=text] {
    align-self: stretch;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.popup .p-small {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

#contacts {}

#map {
    width: 100%;
    height: 350px;
    margin-top: 50px;

}

.h3__hr {
    width: 220px;
    border: 1px solid #FBBB1F;

}

.adress {
    width: 283px;
    height: 192px;
    padding: 0 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #423C4A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.adresses {
    position: relative;
    width: 100%;
}

.adress_office {
    position: absolute;
    left: 10px;
    bottom: 79px;
}

.adress_study {
    position: absolute;
    right: 10px;
    bottom: 79px;
}

.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 116px;
    background-color: #423C4A;
    color: #FBFBFB;
}

.footer__arrow {
    display: none;
    width: 67px;
    height: 67px;
    background: url(img/arrowUp.png);
}

.footer a {
    color: #FBFBFB;
}

.footer__logo {
    width: 90px;
    height: 80.83px;
    background: url(img/WhiteBgColored-removebg-preview.png);
}

@media screen and (max-width: 850px) {
    main {
        background-image: url(img/14840_mob.png) no-repeat;
    }

    .header {
        min-height: 853px;
    }

    .header h1 {
        white-space: normal;
        font-size: 48px;
        line-height: 60px;
    }

    .header__p {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 157px;
    }



    h2 {
        white-space: normal;
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 28px;
    }

    .h2__hr {
        margin-bottom: 62px;
        width: 127px;
    }

    .header__nav {
        display: none;
    }

    .header__menu__img {
        display: block;
    }

    .header__menu__arrow {
        display: block;

    }

    .our-services__avk,
    .our-services__study,
    .price__order {

        flex-flow: column nowrap;
        flex: 0 1 auto;
        margin-bottom: 162px;
    }

    .our-services__avk__img {
        width: 85%;
        border-radius: 40px 40px 0px 0px;
    }

    .our-services__avk__about-avk {
        width: 85%;
        border-radius: 0px 0px 40px 40px;
        padding: 10px 20px;
    }

    .our-services__study__about-courses {
        width: 85%;
        border-radius: 0px 0px 40px 40px;
        padding: 10px 20px;
    }

    .our-services__study__courses {
        width: 85%;
        order: -1;
        border-radius: 40px 40px 0px 0px;
    }

    .price__order-avk {
        width: 85%;
        border-radius: 40px 40px 0px 0px;
    }

    .price__order-courses {
        width: 85%;
        border-radius: 0px 0px 40px 40px;
    }

    .h3__hr {
        width: 120px;
    }

    .adress {
        width: 170px;
        height: 120px;
        font-size: 12px;
        line-height: 14px;
        padding: 0 25px;

    }

    .adress_office {
        position: absolute;
        left: 25px;
        bottom: 211px;
    }

    .adress_study {
        position: absolute;
        right: 27px;
        bottom: 18px;
    }

    .footer {
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: space-around;
    }

    .footer__arrow {
        display: block;
    }

    .footer__logo {
        order: 1;
    }


}